.about-us {
  background-color: #192144;
  background-image: url("../img/png/about-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 33px 52px 82px 30px;
  border-radius: 0 0 25px 25px;

  .about-us__title {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  @media (min-resolution: 2dppx) {
    .about-us {
      background-image: url("../img/png/about-mobile-2x.png");
    }
  }
}

.about-us__text {
  display: block;
  width: 211px;
  margin-left: 20px;
}

.about-us__description {
  width: 205px;
  margin-left: 20px;
}

@media (min-width: @tablet-width) {
  .about-us {
    background-image: url("../img/png/about-tablet.png");
    background-position: right center;
    padding-top: 137px;
    padding-bottom: 89px;

    @media (min-resolution: 2dppx) {
      .about-us {
        background-image: url("../img/png/about-tablet-2x.png");
      }
    }

    .container {
      width: 618px;
    }

    .about-us__title {
      margin-bottom: 51px;
    }

    .button--more-info {
      display: flex;
    }

    .about-us__text {
      width: 310px;
      display: block;
      font-size: 28px;
      line-height: 33px;
    }

    .about-us__description {
      display: block;
      width: 310px;
      margin-bottom: 51px;
      font-size: 21px;
      line-height: 25px;
    }
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    background-image: url("../img/png/about-desktop.png");
    background-position: 90% center;
    padding-bottom: 163px;
    padding-top: 42px;

    @media (min-resolution: 2dppx) {
      .about-us {
        background-image: url("../img/png/about-desktop-2x.png");
      }
    }

    .container {
      width: 1320px;
    }

    .about-us__text {
      width: 620px;
      display: block;
      font-size: 28px;
      line-height: 33px;
    }

    .about-us__description {
      display: block;
      width: 425px;
      margin-bottom: 51px;
      font-size: 21px;
      line-height: 25px;
    }

    .button--more-info {
      display: flex;
    }
  }
}
