.catalog-form {
  position: relative;
}


@media (min-width: @tablet-width) {
  .catalog-form {
    .container {
      width: 688px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}


@media (min-width: @desktop-width) {
  .catalog-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1320px;
    margin: 0 auto;

    .container {
      padding: 0;
      width: 285px;
    }

    .desktop-container {
      width: 1320px;
      margin: 0 auto;
    }
  }

  .travelers-search {
    order: 1;
    width: 285px;
  }

  .search-results {
    order: 0;
    width: 74%;
  }

  .catalog-pagination {
    order: 1;
  }
}
