.container {
  width: 270px;
  margin: 0 auto;
  padding: 10px 25px;
}

@media (min-width: @tablet-width) {
  .container {
    width: 668px;
    padding: 0 40px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1320px;
    padding: 0 60px;
  }
}
