.main-header {
  background: url("../img/png/traveller-illustration-mobile.png") 65% 38% no-repeat, url("../img/png/header-back-mobile.png") center -2%  no-repeat;
  background-color: #161c35;
  padding-top: 25px;

  .main-header__logo-wrapper {
    background-color: #161c35;
    margin-bottom: 60px;
    padding: 0;
    width: 320px;
    justify-content: space-between;

    .container {
      width: 270px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .main-header--inner {
    .main-header__logo-wrapper {
      margin-bottom: 60px;
    }
  }

  .logo__image {
    color: #ffffff;
  }

  .navigation-menu::before,
  .navigation-menu::after {
    background-color: #ffffff;
  }

  .main-header__welcome-contacts-wrapper {
    margin-top: 313px;
  }

  .main-header__features-quote {
    margin-left: 20px;
    margin-top: 25px;
  }

  .main-header__features-list {
    position: relative;
  }
}


// Закрытая выпадашка //
.main-header--close {
  .main-header__navigation-list,
  .main-header__log-in,
  .contacts-wrapper,
  .social-wrapper {
    display: none;
  }
}
// открытая выпадашка//
.main-header--open {
  width: 100%;
  margin: 0 auto;
  padding: 0;

  .main-header-container {
    width: 320px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }


  .main-header__logo-wrapper {
    background-color: #ffffff;
    margin-bottom: 0;
    padding-bottom: 35px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    width: 320px;
  }

  .navigation-menu::before,
  .navigation-menu::after {
    background-color: #161c35;
  }

  .main-header__log-in,
  .contacts-wrapper,
  .social-wrapper {
    display: flex;
  }

  .main-header__log-in-wrapper {
    position: absolute;
    top: 286px;
    left: 0;
    background-color: #ffffff;
    padding-bottom: 51px;
    width: 320px;
  }

  .contacts-wrapper {
    padding-left: 25px;
    box-sizing: border-box;
  }

  .contacts-wrapper--email {
    position: absolute;
    top: 432px;
    left: 0;
  }

  .contacts-wrapper--phone {
    position: absolute;
    top: 387px;
    left: 0;
  }

  .social-wrapper {
    position: absolute;
    top: 477px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 35px;
  }

  .main-header__navigation-list {
    position: absolute;
    top: 70px;
    left: 0;
    display: block;
    background-color: #ffffff;
    width: 320px;
    padding-top: 60px;
  }

  .contacts-wrapper,
  .social-wrapper {
    background-color: #ffffff;
    width: 320px;
  }

  .logo__image {
    color: #182044;
  }

  .social-wrapper__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-wrapper__item {
    width: 30px;
  }

  .social-wrapper__item + .social-wrapper__item {
    margin-left: 15px;
  }

  .social-wrapper__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
  }
}

.main-header__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 20px;
  background-color: #ffffff;
}
// не подгрузился js //
.main-header--nojs {
  padding-top: 0;
  background: url("../img/png/traveller-illustration-mobile.png") center 62% no-repeat, url("../img/png/header-back-mobile.png") center 50% no-repeat;
  background-color: #161c35;

  .main-header-container {
    width: 320px;
    margin: 0 auto;
  }

  .logo__image {
    color: #182044;
  }

  .main-header__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 0;
    box-sizing: border-box;
  }

  .navigation-menu::before,
  .navigation-menu::after {
    display: none;
  }

  .main-header__navigation-list {
    display: block;
    background-color: #ffffff;
    width: 320px;
    padding-top: 60px;
  }

  .main-header__log-in-wrapper {
    position: static;
    display: flex;
    background-color: #ffffff;
    padding: 0;
    padding-bottom: 60px;
    width: 320px;
  }

  .main-header__log-in {
    display: flex;
  }

  .social-wrapper,
  .contacts-wrapper {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #ffffff;
    width: 320px;
    box-sizing: border-box;
  }

  .social-wrapper__list {
    width: 200px;
  }

  .social-wrapper__item + .social-wrapper__item {
    margin-left: 15px;
  }

  .contacts-wrapper {
    justify-content: flex-start;
    padding-left: 25px;
  }

  .social-wrapper {
    padding-bottom: 25px;
  }
}

.main-header.main-header--inner {
  .main-header__welcome-contacts-wrapper {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-header {
    background: url("../img/png/traveller-illustration-tablet.png") 80% 63% no-repeat, url("../img/png/globe-back-tablet.svg.png") center 74%  no-repeat;
    background-color: #182044;
    padding-top: 40px;
    padding-bottom: 0;

    .main-header-container {
      width: 688px;
    }

    .main-header__log-in {
      display: flex;
      width: 188px;
      margin-left: auto;
      align-self: center;
    }

    .main-header__logo-wrapper {
      width: 50%;
      order: 0;
      align-items: center;
      background-color: #182044;
      padding-right: 0;
    }

    .main-header__welcome-title {
      display: block;
      width: 580px;
      font-weight: 700;
      font-size: 60px;
      line-height: 70px;
      order: 1;
      margin-bottom: 86px;
      margin-top: 70px;
    }

    .main-header__welcome-contacts-wrapper {
      display: none;
    }

    .main-header__features-quote {
      width: 264px;
      order: 3;
      margin-bottom: 211px;
      font-size: 28px;
      line-height: 33px;
    }

    .main-header__features-cite {
      margin-top: 45px;
      font-weight: 700;
      font-size: 21px;
      line-height: 25px;
    }
  }

  .main-header__features-list {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    order: 5;

    .main-header__features-item {
      padding: 22px 21px 22px 24px;
      width: 100%;
      min-height: 140px;
      box-sizing: border-box;
    }
  }

  .main-header__features-counter {
    font-size: 30px;
    line-height: 30px;
  }

  .main-header__features-link {
    font-size: 24px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  // Открывашка открыта //
  .main-header--open {
    padding: 0;

    .main-header__features-list {
      margin: 0 50px;
    }


    .main-header-container {
      width: 768px;
      position: relative;
    }

    .main-header__navigation-link {
      font-weight: 500;
      font-size: 60px;
      line-height: 71px;
    }

    .main-header__logo-wrapper {
      background-color: #ffffff;
      width: 50%;
      padding: 40px;
      padding-bottom: 15px;
      padding-right: 0;
      padding-top: 55px;
      box-sizing: border-box;

      .container {
        width: 100%;
      }
    }

    .main-header__log-in {
      margin-left: 0;
    }

    .main-header__log-in-wrapper {
      display: flex;
      justify-content: flex-end;
      width: 50%;
      order: 0;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: auto;
      right: 0;
      padding-top: 40px;
      padding-bottom: 0;
      padding-right: 47px;
    }

    .main-header__navigation-list {
      width: 100%;
      padding-left: 100px;
      box-sizing: border-box;
      top: 90px;
      z-index: 20;
    }

    .contacts-wrapper {
      order: 1;
      width: 100%;
      padding-left: 100px;
      z-index: 10;
    }

    .contacts-wrapper--email {
      top: 459px;
    }

    .contacts-wrapper--phone {
      top: 414px;
    }

    .main-header__features-quote {
      margin-left: 90px;
    }

    .social-wrapper {
      order: 1;
      width: 100%;
      box-sizing: border-box;
      justify-content: flex-start;
      padding-left: 100px;
      z-index: 20;
      top: 504px;
    }
  }

  // Не подгрузился js //
  .main-header--nojs {
    padding: 0;
    background: url("../img/png/traveller-illustration-tablet.png") 80% 75% no-repeat, url("../img/png/globe-back-tablet.svg.png") center 74%  no-repeat;
    background-color: #182044;

    .main-header-container {
      width: 768px;
      box-sizing: border-box;
    }

    .main-header__logo-wrapper {
      background-color: #ffffff;
      width: 50%;
      padding-bottom: 15px;
      padding-right: 0;
      padding-top: 55px;
      padding-left: 100px;
      box-sizing: border-box;
    }

    .main-header__log-in-wrapper {
      display: flex;
      justify-content: flex-end;
      width: 50%;
      order: 0;
      box-sizing: border-box;
      padding-top: 40px;
      padding-bottom: 0;
      padding-right: 40px;
    }

    .main-header__log-in {
      margin: 0;
    }

    .main-header__navigation-list {
      width: 100%;
      display: block;
      position: static;
      padding-left: 100px;
      order: 1;
    }

    .social-wrapper {
      position: static;
      order: 1;
      justify-content: flex-start;
      padding-left: 100px;
      width: 100%;
    }

    .social-wrapper__list {
      justify-content: flex-start;
    }

    .contacts-wrapper {
      order: 1;
      padding-left: 100px;
      justify-content: flex-start;
      width: 100%;
    }

    .main-header__features-list {
      margin: 0 50px;
    }

    .main-header__menu {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    background: url("../img/png/traveller-illustration-desktop.png") 50% bottom no-repeat, url("../img/png/globe-back-desktop.png") left bottom  no-repeat;
    background-color: #161c35;
    display: flex;
    justify-content: space-between;

    .main-header-container {
      width: 1320px;
    }

    .main-header__log-in {
      display: none;
    }

    .main-header__navigation-list {
      display: flex;
      margin: 0;
      width: 460px;
    }

    .main-header__logo-wrapper {
      display: block;
      width: 20%;
      height: 20px;
      order: 0;
      margin-bottom: 0;
      background-color: #161c35;
    }

    .main-header__welcome-contacts-wrapper {
      margin-top: 0;
      display: flex;
      margin-left: auto;
      justify-content: flex-end;
      align-items: flex-start;
    }

    .main-header__features-quote {
      margin: 0;
    }

    .main-header__features-cite {
      width: 264px;
      margin-top: 45px;
      font-weight: 700;
      font-size: 21px;
      line-height: 25px;
      order: 2;
    }

    .main-header__welcome-title {
      display: block;
      width: 40%;
      font-weight: 700;
      font-size: 60px;
      line-height: 70px;
      text-align: start;
      margin: 0;
      order: 3;
      margin-top: 110px;
    }
  }

  .main-header__features-list {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: min-content;
    order: 5;
    margin-top: 101px;

    .main-header__features-item {
      width: 100%;
      min-height: 50px;
      padding: 22px 21px 22px 24px;
      box-sizing: border-box;
    }
  }

  .main-header__features-link {
    line-height: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .main-header--open {
    .main-header-container {
      width: 1320px;
      justify-content: space-between;
      align-items: baseline;
    }

    .main-header__navigation-link {
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
    }

    .main-header__logo-wrapper {
      background-color: transparent;
      margin-bottom: 150px;
      width: 20%;
    }

    .navigation-menu::before,
    .navigation-menu::after {
      display: none;
    }

    .main-header__log-in,
    .contacts-wrapper,
    .social-wrapper {
      display: none;
    }

    .main-header__navigation-list {
      position: static;
      display: flex;
      justify-self: flex-start;
      margin: 0;
      background-color: transparent;
      width: 45%;
    }

    .contacts-wrapper,
    .social-wrapper {
      display: none;
    }

    .main-header__log-in-wrapper {
      display: none;
    }

    .logo__image {
      color: #ffffff;
    }

    .main-header__welcome-contacts-wrapper {
      margin-left: 0;
    }

    .main-header__features-list {
      margin-top: 101px;
    }
  }
  // Не подгрузился JS //
  .main-header--nojs {
    .main-header__logo-wrapper {
      display: block;
      width: 20%;
      height: 20px;
      order: 0;
      margin-bottom: 150px;
      padding-left: 0;
      background-color: #161c35;
    }

    .main-header-container {
      width: 1320px;
    }

    .main-header__log-in-wrapper {
      display: none;
    }

    .main-header__log-in,
    .contacts-wrapper,
    .social-wrapper {
      display: none;
    }

    .main-header__navigation-list {
      background-color: transparent;
    }

    .logo__image {
      color: #ffffff;
    }

    .main-header__features-list {
      margin-top: 100px;
    }
  }

  .main-header.main-header--inner {
    .main-header__welcome-contacts-wrapper {
      display: flex;
    }
  }
}

.main-header--inner {
  background-image: none;
}
