.main-footer {
  background-color: #ffffff;
}

.main-footer__logo {
  display: block;
  width: 96px;
  height: 15px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .main-footer__logo {
    margin: 0;
  }
}
