.travelers {
  background-color: #192144;
  background-image: url("../img/png/travelers-background.png");
  background-repeat: no-repeat;
  background-position: 0 34px;
  border-radius: 0 0 30px 30px;
  padding-top: 65px;
  padding-bottom: 4px;
  position: relative;

  .travelers__title {
    margin-left: 24px;
    margin-bottom: 21px;
  }

  .travelers__text {
    display: block;
    width: 217px;
    margin-left: 24px;
  }

  .travelers__description {
    width: 217px;
    margin-left: 24px;
    margin-bottom: 56px;
    margin-top: 20px;
    margin-right: 0;
  }

  .travelers-flags {
    width: 145px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: -11px;
    left: 23%;
  }

  .travelers-flags--short {
    top: -12px;
    left: 90px;
    width: 100px;
  }

  .travelers-flags__item + .travelers-flags__item {
    margin-left: 20px;
  }

  .travelers__item + .travelers__item {
    margin-top: 10px;
  }

  .travelers__link {
    margin-top: 19px;
    margin-bottom: 25px;
  }
}

.travelers__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.travelers::before {
  content: "";
  width: 100%;
  height: 25px;
  background-color: #e6e8f1;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media (min-width: @tablet-width) {
  .travelers {
    background: url("../img/png/travelers-back-tablet.png") 83% 11% no-repeat, url("../img/png/travelers-back-tablet-small.png") 5% 35% no-repeat;
    background-color: #192144;
    padding-top: 141px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 87px;
    box-sizing: border-box;

    .container {
      width: 618px;
    }

    .travelers__title {
      width: 420px;
      margin: 0;
      margin-bottom: 55px;
    }

    .travelers__text {
      display: block;
      width: 430px;
      font-size: 28px;
      line-height: 34px;
      margin-left: 0;
    }

    .travelers__description {
      font-size: 21px;
      line-height: 24px;
      margin-left: 0;
      width: 260px;
    }

    .travelers-card__image {
      width: 285px;
    }

    .travelers__item + .travelers__item {
      margin-top: 0;
    }

    .travelers-card__tag {
      text-align: center;
    }

    .travelers__link {
      width: 100%;
      margin-top: 81px;
    }
  }

  .travelers__link {
    width: 100%;
  }

  .travelers__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .tra1velers__item {
    width: 44%;
  }
}

@media (min-width: @desktop-width) {
  .travelers {
    background: url("../img/png/travelers-back-tablet.png") 10% 70% no-repeat, url("../img/png/travelers-back-tablet-small.png") 40% 15% no-repeat;
    background-color: #192144;
    padding-left: 0;
    padding-right: 0;

    .travelers-container {
      padding: 0;
    }

    .travelers__link {
      width: 280px;
    }

    .container {
      width: 1320px;
    }
  }

  .travelers__list {
    width: 630px;
    display: flex;
    justify-content: space-between;
  }
}
