.travelers {
  background-color: #192144;
  background-image: url("../img/png/travelers-background.png");
  background-repeat: no-repeat;
  background-position: 40% 5%;
}

.travelers__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: @tablet-width) {
  .travelers {
    background: url("../img/png/travelers-back-tablet.png") 83% 5% no-repeat, url("../img/png/travelers-back-tablet-small.png") left center no-repeat;
  }

  .travelers__title {
    width: 420px;
  }

  .travelers__text {
    display: block;
    width: 430px;
    font-size: 28px;
    line-height: 34px;
  }

  .travelers__description {
    font-size: 21px;
    line-height: 24px;
  }

  .travelers__link {
    width: 100%;
  }

  .travelers__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .travelers__item {
    width: 44%;
  }
}

@media (min-width: @desktop-width) {
  .travelers {
    background: url("../img/png/travelers-back-tablet.png") 10% 70% no-repeat, url("../img/png/travelers-back-tablet-small.png") 40% 15% no-repeat;
  }

  .travelers__list {
    width: 630px;
    display: flex;
    justify-content: space-between;
  }

  .travelers__link {
    width: 280px;
  }
}
